In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib

In [3]:
url="https://raw.githubusercontent.com/rajtilakls2510/car_price_predictor/master/quikr_car.csv"
car=pd.read_csv(url)
car.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [4]:
car=car[car['year'].str.isnumeric()]

In [5]:
car['year']=car['year'].astype(int)

In [6]:
car=car[car['Price']!='Ask For Price']

In [7]:
car['Price']=car['Price'].str.replace(',','').astype(int)

In [8]:
car['kms_driven']=car['kms_driven'].str.split().str.get(0).str.replace(',','')

In [9]:
car=car[car['kms_driven'].str.isnumeric()]

In [10]:
car['kms_driven']=car['kms_driven'].astype(int)

In [11]:
car=car[~car['fuel_type'].isna()]

In [12]:
car['name']=car['name'].str.split().str.slice(start=0,stop=3).str.join(' ')

In [13]:
car=car.reset_index(drop=True)

In [14]:
car=car[car['Price']<6000000]

In [15]:
car

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
811      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
812          Tata Indica V2      Tata  2009  110000       30000    Diesel
813    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
814            Tata Zest XM      Tata  2018  260000       27000    Diesel
815      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[815 rows x 6 columns]

In [16]:
X=car[['name','company','year','kms_driven','fuel_type']]
y=car['Price']

In [17]:
X

                       name   company  year  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006          40    Diesel
2         Hyundai Grand i10   Hyundai  2014       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014       36000    Diesel
4                 Ford Figo      Ford  2012       41000    Diesel
..                      ...       ...   ...         ...       ...
811      Maruti Suzuki Ritz    Maruti  2011       50000    Petrol
812          Tata Indica V2      Tata  2009       30000    Diesel
813    Toyota Corolla Altis    Toyota  2009      132000    Petrol
814            Tata Zest XM      Tata  2018       27000    Diesel
815      Mahindra Quanto C8  Mahindra  2013       40000    Diesel

[815 rows x 5 columns]

In [18]:
y.shape

(815,)

In [19]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 815 entries, 0 to 815
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        815 non-null    object
 1   company     815 non-null    object
 2   year        815 non-null    int64
 3   kms_driven  815 non-null    int64
 4   fuel_type   815 non-null    object
dtypes: int64(2), object(3)
memory usage: 38.2+ KB

In [20]:
from sklearn.model_selection import train_test_split
X_train,X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [21]:
from sklearn.linear_model import LinearRegression

In [22]:
from sklearn.metrics import r2_score

In [23]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [24]:
ohe=OneHotEncoder()
ohe.fit(X[['name','company','fuel_type']])

OneHotEncoder()

In [25]:
column_trans=make_column_transformer((OneHotEncoder(categories=ohe.categories_),['name','company','fuel_type']),remainder='passthrough')

In [26]:
lr=LinearRegression()
pipe=make_pipeline(column_trans,lr)

In [27]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [28]:
y_pred = pipe.predict(X_test)

In [29]:
r2_score(y_test,y_pred)

0.7592412892589109

In [30]:
scores=[]
for i in range(1000):
    X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.1,random_state=i)
    lr=LinearRegression()
    pipe=make_pipeline(column_trans,lr)
    pipe.fit(X_train,y_train)
    y_pred=pipe.predict(X_test)
    scores.append(r2_score(y_test,y_pred))

In [31]:
scores[np.argmax(scores)]

0.8991190499074018

In [32]:
pipe.predict(pd.DataFrame(columns=X_test.columns,data=np.array(['Maruti Suzuki Swift','Maruti',2019,100,'Petrol']).reshape(1,5)))

array([430382.81414542])

In [37]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor

***Linear Regression***

In [77]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.1,random_state=np.argmax(scores))
lr=LinearRegression()
pipe=make_pipeline(column_trans,lr)
pipe.fit(X_train,y_train)
y_pred=pipe.predict(X_test)
r2_score(y_test,y_pred)

0.8991190499074018

***DecisionTree***

In [46]:
dt = DecisionTreeRegressor(max_depth=50)
pipe=make_pipeline(column_trans,dt)
pipe.fit(X_train,y_train)
y_pred=pipe.predict(X_test)
r2_score(y_test,y_pred)

0.8254941495453589

***Random Forest***

In [67]:
rf = RandomForestRegressor(n_estimators=56,
                              random_state=5,
                              max_samples=0.5,
                              max_features=0.75,
                              max_depth=45)

pipe=make_pipeline(column_trans,rf)
pipe.fit(X_train,y_train)
y_pred=pipe.predict(X_test)
r2_score(y_test,y_pred)

0.8643537451328832

***XgBoost***

In [75]:
xgb = XGBRegressor(n_estimators=50,max_depth=5,learning_rate=0.5)

pipe=make_pipeline(column_trans,xgb)
pipe.fit(X_train,y_train)
y_pred=pipe.predict(X_test)
r2_score(y_test,y_pred)

0.877408944890493

In [76]:
import pickle

In [78]:
pickle.dump(pipe,open('model.pkl','wb'))
pickle.dump(car,open('car.pkl','wb'))

In [79]:
pipe.predict(X_test)

array([ 361775.48509683,  487246.62094697,  698082.3655184 ,
        162916.47427327,  219601.74026684, 1977681.09795049,
        248788.41489048, 1104436.73882934, 1977681.09795049,
        322116.51340643,  345337.28798901,  450867.0322846 ,
        336147.06137682,  163965.66809823,  358619.12133582,
        242196.33189943,  401830.14196035, -192287.75868774,
        315641.95604457,  496152.17869105,  207384.87099396,
        317150.49499841, 1619339.53506472,  267054.31805379,
        388546.88514195,   87802.5818092 ,  433987.01686314,
        269811.83023623,  -28068.46674179,  204439.8949677 ,
        646143.91452122,  433951.1324401 ,  289063.34713319,
        253636.51461998,  738710.60888524,  351101.91769238,
        148978.04546322,   74388.79960532, 1072643.52143963,
        164513.3836835 ,  185075.25777049,  368985.02274454,
        642198.7269787 ,  612081.1710721 ,  396993.3705916 ,
        416055.38491731,  568014.38597658,  254790.47190239,
       1977681.09795049,  381141.49904337,  220130.71248069,
        308931.21229746, -139069.51590796,  330098.78003175,
        257722.5837217 ,  273750.3981517 , 1136164.87072971,
        417827.13355093, 1977681.09795049,  353614.50019713,
        574567.99115236,  158412.70143118,  564901.76357422,
        303176.28808925,  519135.0439547 ,  401830.14196035,
        340142.23999082,  223260.46800219,  280798.24673497,
        729103.74841844,  248602.76910149,  277830.94537048,
        148080.50144251,  148163.09539733,  376097.38278104,
        199265.16567372,  257321.88338078,  440664.9677591 ,
        833546.05328285,  342718.30889568,  354924.36899033,
         61549.48604462])